{% extends 'sellerheader.html' %}
{% load static %}

{% block content %}
<div class="panel-info widget-shadow">
    <h1>Product List</h1>
    <br>
    <table class="table">
        <tr>
            <th>Product Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Discount</th>
            <th>Image</th>
            <th></th>
        </tr>
        {% for item in productlist %}
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.des}}</td>
            <td>{{item.price}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.discount}}</td>
            <td><img src="{{item.pic.url}}" alt="Image of {{item.name}}" title="Image of {{item.name}}" height="60" width="60"></td>
            <td>
                <a href="{% url 'editproduct' item.id %}">Edit</a> |
                <a href="{% url 'deleteproduct' item.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>

</div>
{% endblock %}